#name {
    color: #feffac;
    font-size: 1.6em;
    margin-bottom: 20px;
    margin-top: 0;
    border-bottom: 4px solid #f8a6f1;
}

#messages {
    width: 75%;
    max-width: 800px;
    display: flex;
    flex-direction: column;
    gap: 0px;
    margin: 0 auto 80px auto;
    margin-bottom: 80px;
}

#messages p {
    max-width: 45%;
    word-wrap: break-word;
    /* border-radius: 10px; */
    padding: 6px 10px;
    margin-top: 2px;
    margin-bottom: 2px;
}

#messages label {
    font-size: small;
    color: #445561;
    gap: 0px;
}

.you {
    background-color: rgb(53, 61, 116);
    align-items: flex-end;
    margin-left: auto;
}

.other {
    background-color: rgb(31, 36, 65);
    align-items: flex-start;
    margin-right: auto;
}

.other-top {
    border-radius: 0px 10px 10px 10px;
}

.other-center {
    border-radius: 0px 10px 10px 0px;
}

.you-top {
    border-radius: 10px 0px 10px 10px;
}

.you-center {
    border-radius: 10px 0px 0px 10px;
}

#send {
    position: fixed;
    bottom: 0;
    right: 0;
    left: 0;
    margin: 0;
    margin-bottom: 25px;
    padding: 0;
    height: 35px;
    display: flex;
    flex-direction: row;
    justify-content: center;
}

#send input {
    border: 3px solid black;
    border-radius: 10px 0px 0px 10px;
    border-right: none;
    background: rgba(0, 0, 0, 0.493);
    height: 35px;
    width: 50%;
    color: rgb(164, 189, 255);
    font-size: medium;
}

#send button {
    height: 42px;
    width: 35px;
    color: rgb(58, 155, 58);
    background-color: rgba(37, 189, 37, 0.219);
    border: 3px solid green;
    border-left: none;
    border-radius: 0px 10px 10px 0px;
}

.uglybutton {
    border: none;
    background: none;
}


/* The scroll-bar */
::-webkit-scrollbar {
    width: 6px;
    background-color: transparent;
}

::-webkit-scrollbar-thumb {
    background-color: #888;
    border-radius: 3px;
}

::-webkit-scrollbar-thumb:hover {
    background-color: #666;
}

::-webkit-scrollbar-track {
    background-color: transparent;
}

::-webkit-scrollbar-track:hover {
    background-color: transparent;
}

/* Home Action icon */
.gg-home-alt {
    color: rgb(37, 172, 37);
    box-sizing: border-box;
    position: relative;
    display: block;
    transform: scale(var(--ggs,1));
    width: 18px;
    height: 14px;
    border: 2px solid;
    border-top: 0;
    border-radius: 2px;
    border-bottom-left-radius: 3px;
    border-bottom-right-radius: 3px;
    margin-bottom: -2px
}
.gg-home-alt::after,
.gg-home-alt::before {
    content: "";
    display: block;
    box-sizing: border-box;
    position: absolute
}
.gg-home-alt::before {
    border-top: 2px solid;
    border-left: 2px solid;
    border-top-left-radius: 4px;
    transform: rotate(45deg);
    top: -5px;
    border-radius: 3px;
    width: 14px;
    height: 14px;
    left: 0
}
.gg-home-alt::after {
    width: 6px;
    height: 10px;
    background: currentColor;
    border-top-left-radius: 100px;
    border-top-right-radius: 100px;
    left: 4px;
    bottom: -2px
}