body, html {
    margin: 0;
    padding: 0;
    background-color: rgb(24, 28, 41);
    color: whitesmoke;
}

#navbar {
    background-color: #7783A8;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    font-size: 1.3em;
}

#navbar p {
    margin: 0;
    flex-grow: 0;
    padding-left: 12px;
    padding-right: 12px;
}

#navbar p:first-child {
    font-size: 1.7em;
}

#navbar a {
    margin-left: auto;
}